<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <style media="screen">

    .pantalla {
      background-color: #253A6F;
      height: 30px;
      margin-bottom: 30px;
    }

    .asiento{
      margin: 3px;
      cursor: pointer;

      font-size: 13px;
      font-weight: bold;
      color: white;
      text-align: center;
    }
    .preview{
      height: 20px;
      width: 20px;
    }
    .ocupado {
      background-color: #215263;
    }

    .disponible {
      background-color: #3E7728;
    }
    .segundo{
      margin-top: 40px;
    }
    p {
      font-size: 18px;
      color: white;
      font-family: 'Lato', sans-serif;
    }

    button {
      margin-top: 20px;
    }
  </style>
  <body>
    <div id="app">

      <div class="container">
        <div class="pantalla" align="center">
          <p>Pantalla</p>
        </div>

        <!-- Asientos -->
        <div class="row">
          <div class="col-3">
          </div>

          <div class="col-6">
            <div class="row">
              <div v-for="asiento in asientosA"
                    class="col col-sm-2 asiento"
                    v-bind:id="asiento.id" v-text="asiento.id"
                    @click="seleccionarAsiento"
                    v-bind:class="[(asiento.disponible) ? 'disponible' : 'ocupado']"
              >
              </div>
            </div>
          </div>

          <div class="col-3">
          </div>
        </div>

        <div class="row segundo">
          <div class="col-3">
            <div class="row">
              <div v-for="asiento in asientosB"
                  class="col col-sm-4 asiento"
                  v-bind:id="asiento.id" v-text="asiento.id"
                  @click="seleccionarAsiento"
                  v-bind:class="[(asiento.disponible) ? 'disponible' : 'ocupado']"
              >
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="row">
              <div v-for="asiento in asientosC"
                class="col col-sm-2 asiento"
                v-bind:id="asiento.id" v-text="asiento.id"
                @click="seleccionarAsiento"
                v-bind:class="[(asiento.disponible) ? 'disponible' : 'ocupado']"
                >
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="row">
              <div
                v-for="asiento in asientosD"
                class="col col-sm-4 asiento"
                v-bind:id="asiento.id" v-text="asiento.id"
                @click="seleccionarAsiento"
                v-bind:class="[(asiento.disponible) ? 'disponible' : 'ocupado']"
              ></div>
            </div>
          </div>

        </div>

        <button type="button" class="btn btn-info" @click="adquirirEntradas">Comprar</button>
        <button type="button" class="btn btn-danger" @click="liberarEntradas">Liberar</button>
        <hr>
          <div class="d-block">
            <strong class="d-inline">Disponible</strong>
            <div class="disponible preview"></div>
          </div>

          <div class="d-inline">
            <strong class="d-inline">Ocupado</strong>
            <div class="ocupado preview"></div>
          </div>
      </div>

    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://www.gstatic.com/firebasejs/5.11.0/firebase.js"></script>

  <script>
    var config = {
      apiKey: "AIzaSyD0xjkGLxE0amB27oe1vAnvqwiaQ2cQYCo",
      authDomain: "democf-a6934.firebaseapp.com",
      databaseURL: "https://democf-a6934.firebaseio.com",
      projectId: "democf-a6934",
      storageBucket: "democf-a6934.appspot.com",
      messagingSenderId: "1053573094029"
    };

    firebase.initializeApp(config);
    let database = firebase.database()

    new Vue({
      el: "#app",

      created() {
        database.ref("/sala/" + this.nSala)
                .on('value', snapshot => this.cargarAsientos(snapshot.val()))
      },

      data: {
        nSala: 1,
        asientos: [],
        asientosA : [
          {id: 'A1', disponible: true, purchased: false}, {id: 'A2', disponible: true, purchased: false}, {id: 'A3', disponible: true, purchased: false}, {id: 'A4', disponible: true, purchased: false}, {id: 'A5', disponible: true, purchased: false},
          {id: 'A6', disponible: true, purchased: false}, {id: 'A7', disponible: true, purchased: false}, {id: 'A8', disponible: true, purchased: false}, {id: 'A9', disponible: true, purchased: false}, {id: 'A10', disponible: true, purchased: false},
        ],

        asientosB: [
          {id: 'B1', disponible: true, purchased: false}, {id: 'B2', disponible: true, purchased: false}, {id: 'B3', disponible: true, purchased: false}, {id: 'B4', disponible: true, purchased: false}, {id: 'B5', disponible: true, purchased: false},
          {id: 'B6', disponible: true, purchased: false}, {id: 'B7', disponible: true, purchased: false}, {id: 'B8', disponible: true, purchased: false}, {id: 'B9', disponible: true, purchased: false}, {id: 'B10', disponible: true, purchased: false},
        ],

        asientosC: [
          {id: 'C1', disponible: true, purchased: false}, {id: 'C2', disponible: true, purchased: false}, {id: 'C3', disponible: true, purchased: false}, {id: 'C4', disponible: true, purchased: false}, {id: 'C5', disponible: true, purchased: false},
          {id: 'C6', disponible: true, purchased: false}, {id: 'C7', disponible: true, purchased: false}, {id: 'C8', disponible: true, purchased: false}, {id: 'C9', disponible: true, purchased: false}, {id: 'C10', disponible: true, purchased: false},
          {id: 'C11', disponible: true, purchased: false}, {id: 'C12', disponible: true, purchased: false}, {id: 'C13', disponible: true, purchased: false}, {id: 'C14', disponible: true, purchased: false}, {id: 'C15', disponible: true, purchased: false},
          {id: 'C16', disponible: true, purchased: false}, {id: 'C17', disponible: true, purchased: false}, {id: 'C18', disponible: true, purchased: false}, {id: 'C19', disponible: true, purchased: false}, {id: 'C20', disponible: true, purchased: false},
          {id: 'C21', disponible: true, purchased: false}, {id: 'C2', disponible: true, purchased: false}, {id: 'C23', disponible: true, purchased: false}, {id: 'C24', disponible: true, purchased: false}, {id: 'C25', disponible: true, purchased: false},
        ],

        asientosD: [
          {id: 'D1', disponible: true, purchased: false}, {id: 'D2', disponible: true, purchased: false}, {id: 'D3', disponible: true, purchased: false}, {id: 'D4', disponible: true, purchased: false}, {id: 'D5', disponible: true, purchased: false},
          {id: 'D6', disponible: true, purchased: false}, {id: 'D7', disponible: true, purchased: false}, {id: 'D8', disponible: true, purchased: false}, {id: 'D9', disponible: true, purchased: false}, {id: 'D10', disponible: true, purchased: false},
        ],
      },

      methods: {
        adquirirEntradas: function(){
          this.pagarEntradas()

          database.ref("/sala/" + this.nSala).set(this.asientos).then(response => {
             alert("Entradas adquiridas!")
          })
        },

        seleccionarAsiento: function(event){
          for(let nFila in this.asientos){
            let asiento = this.asientos[nFila].find(asiento => asiento.id === event.target.id)

            if(asiento){
              if(asiento.purchased)
                alert("El asiento " + asiento.id + " no esta disponible")
              else
                asiento.disponible = !asiento.disponible
              break;
            }
          }
        },

        pagarEntradas: function() {
          for(let nFila in this.asientos){

            let fila  = this.asientos[nFila]
            let aSeleccionados = fila.filter(a => !a.disponible && !a.purchased)

            for(let nAsiento in aSeleccionados){
                fila.find(a => a.id === aSeleccionados[nAsiento].id).purchased = true
            }
          }
        },

        cargarAsientos: function(asientos){
          if (asientos === null) return

          this.asientos = []
          asientos.forEach((element) => this.asientos.push(element))
        },

        liberarEntradas: function(){
          this.asientos.forEach(function(element){
            element.forEach(function(asiento) {
              asiento.purchased = false
              asiento.disponible = true
            })
          });
          database.ref("/sala/" + this.nSala).set(this.asientos).then(response => {
             alert("Entradas liberadas!")
          })
        }

      }
    })
  </script>


</html>
